*:focus {
  outline: 0;
}

ng-cloak,
[ng-cloak],
.ng-cloak {
  display: none;
}

.text-align-right {
  text: {
    align: right;
  }
}

[ng-click] {
  cursor: pointer;
  background: {
    color: #ffffff;
  }
  @include transition(all 150ms ease-in-out);
}
[ng-click]:hover {
  background: {
    color: rgba(0,0,0,0.05);
  }
}

.grid-list-custom {
  background: {
    color: #eeeeee;
  }
}

.output-block {
  min: {
    height: 60px;
  }
}